<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="loginmx-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="obtenerProductos"
               url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
               handle-as="json"
               on-response="mostrarProductos">
    </iron-ajax>

    <iron-ajax id="hacerLogin"
               url="http://localhost:3000/v2/usuarios/login"
               method="POST"
               headers='{"email":"eballesterosf@hotmail.com","password":"12345"}'
               on-response="mostrarResultadoLogin">
    </iron-ajax>

    <!--
    <div class="row">
      <button class="col-sm-3 col-6">BOTON 1</button>
      <button class="col-sm-3 col-6">BOTON 2</button>
      <button class="col-sm-3 col-6">BOTON 3</button>
    </div>
    -->

    <div>
      <label for="">[[etuser]]</label>
      <input required="required" type="text" placeholder="elenanito@bbva.com" value={{valuser::input}}>
    </div>
    <div>
      <label for="">[[etpassword]]</label>
      <input required="required" type="password">
    </div>
    <div class="">
      <button class="btn btn-info" on-click="hacerLogin">[[etlogin]]</button>
      <button class="btn btn-warning" on-click="invocarPeticion">Invocar</button>
    </div>

    <table  class="table table-striped" hidden$="{{noTengoProductos}}">
      <thead>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>PRECIO</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{productos}}" as="prd">
          <tr>
            <td>{{prd.ProductID}}</td>
            <td>{{prd.ProductName}}</td>
            <td>{{prd.UnitPrice}}</td>
          </tr>
        </template>
      </tbody>
    </table>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginmxApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          valuser: {
            type: String
          },
          productos: {
            type: Array
          },
          noTengoProductos: {
            type: Boolean,
            value: true
          }
        };
      }
      hacerLogin() {
        console.log("Login correcto de " + this.valuser)
      }
      invocarPeticion() {
        this.$.obtenerProductos.generateRequest();
      }
      mostrarProductos(data) {
        console.log(data.detail.response.value)
        this.productos = data.detail.response.value
        this.noTengoProductos = false
      }
      mostrarResultadoLogin(data) {
        console.log(data.detail.response.value)
      }
    }

    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
</dom-module>
