<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="movimientosmx-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="obtenerMovimientos"
               url="http://services.odata.org/V4/Northwind/Northwind.svc/Sales_Totals_by_Amounts"
               handle-as="json"
               on-response="mostrarMovimientos">
    </iron-ajax>

    <iron-ajax id="hacerLogin"
               url="http://localhost:3000/v2/usuarios/login"
               method="POST"
               headers='{"email":"eballesterosf@hotmail.com","password":"12345"}'
               on-response="mostrarResultadoLogin">
    </iron-ajax>

    <!--
    <div class="row">
      <button class="col-sm-3 col-6">BOTON 1</button>
      <button class="col-sm-3 col-6">BOTON 2</button>
      <button class="col-sm-3 col-6">BOTON 3</button>
    </div>
    -->

    <div>
      <label for="">[[etuser]]</label>
      <input required="required" type="text" placeholder="elenanito@bbva.com" value={{valuser::input}}>
    </div>
    <div>
      <label for="">[[etpassword]]</label>
      <input required="required" type="password">
    </div>
    <div class="">
      <button class="btn btn-info" on-click="hacerLogin">[[etlogin]]</button>
      <button class="btn btn-warning" on-click="invocarPeticion">Invocar</button>
    </div>

    <template is="dom-repeat" items="{{movimientos}}" as="mov">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{mov.CompanyName}}</h5>
              <p class="card-text">$ {{mov.SaleAmount}}</p>
              <a href="#" class="btn btn-primary">{{mov.OrderID}}</a>
            </div>
          </div>
        </div>
      </div>
    </template>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosmxApp extends Polymer.Element {
      static get is() { return 'movimientosmx-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          valuser: {
            type: String
          },
          movimientos: {
            type: Array
          },
          noTengoMovimientos: {
            type: Boolean,
            value: true
          }
        };
      }
      hacerLogin() {
        console.log("Login correcto de " + this.valuser)
      }
      invocarPeticion() {
        this.$.obtenerMovimientos.generateRequest();
      }
      mostrarMovimientos(data) {
        console.log(data.detail.response.value)
        this.movimientos = data.detail.response.value
        this.noTengoMovimientos = false
      }
      mostrarResultadoLogin(data) {
        console.log(data.detail.response.value)
      }
    }

    window.customElements.define(MovimientosmxApp.is, MovimientosmxApp);
  </script>
</dom-module>
